* {
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 20px;

  width: 400px;
  height: 400px;
  font-size: 24px;
  border: 10px solid #82c6ec;
  color: #fff;
  background: #ffe9cd;
}

.item {
  background: #fb3663;
}

.item-1 {
  background: #ff4628;
  
}

.item-2 {
  background: #F68F25;
}

.item-3 {
  background: #4BA846;
}

.item-4 {
  background: #006FC6;
}

.item-5 {
  background: #C077AF;
}

.item-6 {
  background: #F8D29D;
}

.item-7 {
  background: #B8A57C;
}

.item-8 {
  background: #D0E4A8;
}

.item-9 {
  background: #4DC7EC;
}
